{{#if messages.success}}
<section class="panel message-panel message-panel-success">{{messages.success}}</section>
{{/if}}
{{#if messages.error}}
<section class="panel message-panel message-panel-error">{{messages.error}}</section>
{{/if}}
{{#if messages.info}}
<section class="panel message-panel message-panel-info">{{messages.info}}</section>
{{/if}}
